<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codewars</title>
</head>

<body>
  <div>
    축하합니다! 모든 테스트를 통과하셨습니다!!
  </div>
  <button onclick="location.href='/'">다른문제 풀러가기</button>
</body>

</html>
